
body {
    font-family: Arial, sans-serif;
    background-color:#d6d6d6; /* Fondo más oscuro */
    color: #fff; /* Texto en color claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.error-container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
p {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.error-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
a {
color: #13a0f1;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}